node_modules
dist
build
coverage

# logs
*.log

# env files
.env
.env.*

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# compiled files
*.min.js

# editor files
.vscode
.idea

# OS files
.DS_Store